DATABASE_URL="postgresql+asyncpg://USER:PASSWORD@HOST/DBNAME"

AGENT_1_ADDRESS=""
AGENT_1_PRIVATE_KEY=""

CDP_KEY_ID=""
CDP_SECRET=""

OPENAI_API_KEY=""

CELERY_BROKER_URL="redis://localhost:6379/0"
CELERY_RESULT_BACKEND="redis://localhost:6379/0"

COINGECKO_API_KEY=""

SECRET_KEY="change-this-in-prod"

RPC_URL="https://base-sepolia.g.alchemy.com/v2/YOUR_KEY"
CHAIN_ID="84532"
NETWORK="base-sepolia"

SEPOLIA_RPC_URL="https://base-sepolia.g.alchemy.com/v2/YOUR_KEY"
SEPOLIA_PRIVATE_KEY=""
CONTRACT_ADDRESS="0x764dAAAE6500146fb68d7BdAD19D8ECbDB849147"
OWNER_ADDRESS=""
PLATFORM_WALLET=""

ADMIN_ADDRESSES=
